<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" media="screen">
    <link rel="stylesheet" th:href="@{/css/details.css}" media="screen">
    <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <h1 class="text-center display-5 mt-5">Detail Product</h1>
    <div class="col-md-12">
        <section class="panel mt-5">
            <div class="panel-body d-flex justify-content-center">
                <div class="col-md-6">
                    <h4 class="pro-d-title">
                        <a href="#" class="" th:text="${price.recipent}">
                        </a>
                    </h4>
                    <p th:text="${price.description}">
                    </p>
                    <div class="product_meta">
                        <span> <strong>Gender</strong> <p th:text="${price.gender}"></p> </span>
                        <span> <strong>Street</strong> <p th:text="${price.street}"></p> </span>
                        <span> <strong>Zipcode</strong> <p th:text="${price.zipCode}"></p> </span>
                        <span> <strong>District</strong> <p th:text="${price.district}"></p> </span>
                        <span> <strong>City</strong> <p th:text="${price.city}"></p> </span>
                        <span> <strong>Province</strong> <p th:text="${price.province}"></p> </span>
                        <span> <strong>Country</strong> <p th:text="${price.country.getName()}"></p> </span>
                        <span> <strong>Province</strong> <p th:text="${price.province}"></p> </span>
                        <span> <strong>Assurance</strong> <p th:text="${price.assurance}"></p> </span>
                        <span> <strong>Total Price</strong> <p th:text="${price.totalPrice}"></p> </span>
                        <span> <strong>Delivery Cost</strong> <p th:text="${price.deliveryCost}"></p> </span>
                    </div>
                    <p>
                        <a href="/show" type="button" class="btn btn-primary mt-3">Back</a>
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>

    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script th:src="@{/css/js/main.js}"></script>
</body>
</html>